
body {
    background-color: #959595;
  }
  
  .bg-primary {
    background-color: #2bdaa6;
  }
  
  .bg-dark {
    background-color: #9d9d9d;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  .nav-item a {
    color: rgb(255, 255, 255);
  }
  
  .nav-item a:hover {
    color: #de11d1;
  }
  
  .btn-link {
    color: white;
  }
  
  .btn-link:hover {
    color: #007bff;
  }
  
  .container {
    max-width: 100%;
  }
  
  .text-center {
    text-align: center;
  }
  